<!DOCTYPE html>
<html>
  <head>
    <title>Chacon Wedding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'rose.jpeg' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <!-- <a class="nav-link active" href="#">Home</a> -->
        <%= link_to 'Home', root_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link active" href="#">Details</a> -->
        <%= link_to 'Details', details_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Registry</a> -->
        <%= link_to 'Registry', registry_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
       <!--  <a class="nav-link" href="#">RSVP</a> -->
        <%= link_to 'RSVP', rsvp_path, class: 'nav-link active' %>
      </li>
    </ul>

    <%= yield %>




  </body>

  <footer class="footer">
    <div class="footer-copyright text-right"><a href="https://somethingbluephotography.net/">Photo by Something Blue Photography</a><br />&#169Adeline Margaillan</div>
  </footer>

</html>
